/00_Commons/Utilities/nbproject/private
/00_Commons/Utilities/build/
/00_Commons/Utilities/dist/
/00_Commons/Utilities/dist/Debug
/00_Commons/Utilities/dist/Debug/GNU-Linux-x86
/01_DeducingTypes/nbproject/private
/01_DeducingTypes/build/
/01_DeducingTypes/dist/
/01_DeducingTypes/dist/Debug
/01_DeducingTypes/dist/Debug/GNU-Linux-x86
/05_MoveSemantics/nbproject/private
/05_MoveSemantics/build
/05_MoveSemantics/dist
/05_MoveSemantics/dist/Debug
/05_MoveSemantics/dist/Debug/GNU-Linux-x86

